body {
	font-family: "Euphemia UCAS", "Avenir Next", SignPainter, sans-serif, cursive;

	text-align: center;
}

h2 {
	font-size: 22px;
	font-weight: normal;
}

h3 {
	font-size: 20px;
	font-weight: normal;
}

.hidden 
{
  display: none;
}

.container
{
width: 980px;
margin: 0 auto;
flex-wrap: wrap;
background-color: #efeded;
}

.mainHeader {
  height: 100px;
  background-color: #b13333;
  color: #fff;
}

.title {
height: 50px;
  background-color: #b13333;
  color: #fff;
  width: 500px;
  text-align: center;
  margin-left: 240px;
}


.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px;
  
}

.leftContainer, .rightContainer {
	width: 400px;
	height: 200px;
	background-color: #fff;
	text-align: left;

}

.mainFooter {
  height: 100px;
  background-color: #b13333;
  color: #fff;
}
